

        body {
          background-color: rgb(19, 18, 18);
        }
    
        .w3-lobster {
      font-family: "Lobster", Sans-serif;
    }
    
    
      
      .h1{
    
        
           transform: rotate(90deg);
           
           
         width: 50% ;
         padding-top: 10px;
         padding-bottom: 5px;
         height: 5px; 
    
        
          
      
         }
      
    
        div a :hover 
         { 
              
            transform: translate(0px,-20px); 
            
         }
       
       
        .divmove
        {
    
            position:fixed;
            transform: translate(0px,20px);
              
             float: left;
    
             margin-right: 0%;
    
            
    
           
            
        }
       
    
    h2
    {
         text-align: center;
         color: 1px solid black;
    }
      h3 {
          color: White;
      }
    
     .h{
      list-style-type: none;
     
      margin: 0;
      padding: 0;
      overflow: hidden;
       background-color: white; 
    }
    
     li a{
    
       
        text-decoration: none;
        font-family: "Audiowide", sans-serif;
        font-weight: bold;
       
          display: block    ;
          padding: 14px 16px;
          text-align: center;
    
          
     }
     
    
    
    
     li a:hover {
        text-transform: uppercase ;
        visibility: visible;
        
        
    }
    
    li :hover
    {
        color: black;
    }
         .Nevibar
         {
          float : left;
          text-align: center;
          
          margin: auto;
         }
    
         #background-video {
       
            position:top ;
     
        margin-top: 0%;
        padding: 0%;
      width: 100%;
      height: 100%;
   
      z-index: -1;
    
      opacity: 0.4;
    } 
    
    .about
    {
       text-align: center;
    
        color: balck;
        background-color: gray;
    }
    
    .move
    {
         box-shadow: 10px 10px 10px gray;
    }
    
    .about
{
   text-align: center;

    color: balck;
    background-color: gray;
}

.move
{
     box-shadow: 10px 10px 10px gray;
}


.data
{
    box-shadow: 10px 10px black;
    border: 2px solid black;
    background-color: gray;
   
    z-index: -1;
}
fieldset legend
{
    background-color: cyan;
    font-weight: bolder;
    text-align: center;
}
fieldset input 
{
    color: gray;
    border: 2px solid black;
    z-index: -1;
}
button
{
    
     border-radius: 40%;
     color: black;

}
.n
{
    color: blacks;
}


    
         
         
       